/* This file contains all the mixins*/

@mixin zero{
  margin: 0;
  padding: 0;
}

@mixin ease($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// Hide text in an element
@mixin hide-text{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block; // inline elements with this won't hide text unless set to block
}

@mixin show-text{
  text-indent: 0;
  white-space: normal;
  overflow: visible;
}

@mixin about-us($url){
 	font-family: 'quicksand', 'Arial Narrow', Arial, sans-serif;
	padding-top: 6rem;
	display: block;
	height: 250px;
	color: $white;
	background:$url;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

@mixin icons($colour){
 font-size: 2rem;   
 background-color: $colour; 
 border-radius: 20rem; 
 padding: 0.8rem; 
 border: $grey 3px solid;
}