img{
 width: 100%;
 height: 100%;    
}

.intro{
 text-align: center;
}

.ac-container{
	width: 100%;
}

.text-content{
  position: absolute;
  width: 100%; 
}

.h2-center{
	background-color: rgba(26, 139, 113, 0.90);
    border: $grey 3px solid;
    border-radius: 0.3rem;
    width: 50%;
    float: right;
    padding: 1rem;
    margin-right: 25%;
    font-size: 1rem;
    font-weight: 400;
}

@media only screen and (min-width: 60em){
 .h2-center{
     width: 30%;
     margin-right: 35%;
     left:35%;
     font-size: 1.5rem;
     font-weight: 800;
 }
    
}

.ac-container .team{
 @include about-us(url(../img/ourteam.jpg));    
}

.ac-container .board{
 @include about-us(url(../img/boardofdirectors.jpg));       
}

.ac-container .partners{
 @include about-us(url(../img/partners.jpg));   
}

.overlay {
  position: relative;
}
 
span.text-content {
  position: absolute;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.teal:before {
  background-color: rgba(71, 71, 71, 0.78);
}

.overlay:before{
  position: absolute;    
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0;
  z-index:0;    
}

.overlay:hover:before{
   opacity: 100;
    -webkit-transition: 0.2s ease-in-out;
	-moz-transition:  0.2s ease-in-out;
	-o-transition:  0.2s ease-in-out ;
	-ms-transition:  0.2s ease-in-out ;
	transition: 0.2s ease-in-out; 
}


.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	 color: rgb(255, 255, 255);
}

.ac-container input{
	display: none;
}

.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
 font-weight: 500;
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 100%;
    text-align: center;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}

.ac-small{
  text-align: center; 
}

.name{
   margin-top: 3rem;    
   border: $grey 3.5px solid;
   border-radius: 0.3rem;
   width: 100%; 
   background-color: $yellow;
   text-align: center;
   margin-left: 0%;    
}

.team-member{
 text-align: center;
    
    h4{
    margin-bottom: 0;
    }
    
    p{
    margin-top: -0.6rem;
    line-height: 1.3rem;
    }
}


.center{
 text-align: center;   
}

ul.img-list {
  list-style-type: none; 
    
    li {
  display: inline-block;
  position: relative;
  }

}
 
span.text-content-img {
 background: #fdb514;
  color: white;
  top: 3.2rem;   
  cursor: pointer;
  display: table;
  position: absolute;
  width: 98%; 
  left: 1%;    
  height: 238px;
  text-align: center;
  padding: 1rem;
 opacity: 0;
     -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

 
ul.img-list li:hover span.text-content-img {
  opacity: 1;
}



.directors{
 padding: 1rem;
 padding-top: 4rem;    
 text-align: center;    
}

.partners-text{
 padding: 3rem 0 3rem 0;
    
    ul{
        line-height: 3rem;
        list-style-type: none;
        }
}