img{
 width: 100%;
 height: 100%;    
}
.intro{
 text-align: center;
 padding: 2rem;
}

.ac-container{
	width: 100%;
	text-align: left;
}

.text-content h2{
    
	background-color: rgba(26, 139, 113, 0.90);
    padding: 0.5rem;
    border: $grey 3px solid;
    border-radius: 0.3rem;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.ac-container .team{
 @include about-us(url(../img/ourteam.jpg));
 padding-right: 45%;    
}

.ac-container .board{
 @include about-us(url(../img/boardofdirectors.jpg)); 
 padding-right: 70%;    
   
}

.ac-container .partners{
 @include about-us(url(../img/partners.jpg));
 padding-right: 80%;    
}

@media only screen and (min-width:28em){
  
    .ac-container .partners{
     padding-right: 45%;   
    }
    
    .ac-container .board{
     padding-right: 37%;   
    }
    
    .ac-container .team{
     padding-right: 25%;   
    }
    
}

@media only screen and (min-width:50em){
  
    .ac-container .partners{
     padding-right: 25%;   
    }
    
    .ac-container .board{
     padding-right: 20%;   
    }
    
    .ac-container .team{
     padding-left: 15%;   
    }
    
}

@media only screen and (min-width:81em){
  
    .ac-container .partners{
     padding-right: 24%;
     padding-top: 5rem;    
    }
    
    .ac-container .board{
     padding-right: 20%;
     padding-top: 5rem;
    }
    
    .ac-container .team{
     padding-left: 12%;
     padding-top: 5rem;    
    }
    
}


.overlay {
  position: relative;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  position: absolute;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.teal:before {
  background-color: rgba(71, 71, 71, 0.78);
}

.overlay:before{
  position: absolute;    
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0;
  z-index:0;
}

.overlay:hover:before{
   opacity: 100;
    -webkit-transition: 0.2s ease-in-out;
	-moz-transition:  0.2s ease-in-out;
	-o-transition:  0.2s ease-in-out ;
	-ms-transition:  0.2s ease-in-out ;
	transition: 0.2s ease-in-out; 
}


.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	 color: rgb(255, 255, 255);
}

.ac-container input{
	display: none;
}

.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
 font-weight: 500;
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 100%;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}

.name{
   margin-top: 3rem;    
   border: $grey 3.5px solid;
   border-radius: 0.3rem;
   width: 100%; 
   background-color: $yellow;
   text-align: center;
   margin-left: 0%;    
}

.team-member{
 text-align: center;   
}

.team-member h4{
    margin-bottom: 0;
}

.team-member p{
    margin-top: -0.6rem;
    line-height: 1.3rem;
}

.center{
 text-align: center;   
}

ul.img-list {
  list-style-type: none;
  text-align: center;
  padding: 2%;    
}
 
ul.img-list li {
  display: inline-block;
  position: relative;
}

span.text-content-img {
  background: rgba(0, 0, 0, 0.74);
  color: white;
  top: 3.2rem;   
  cursor: pointer;
  display: table;
  position: absolute;
  width: 98%; 
  left: 1%;    
  height: 238px    
}
 
span.text-content-img span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;    
}

span.text-content-img {
  background: rgba(0, 0, 0, 0.74);
  color: white;
  cursor: pointer;
  display: table;
  position: absolute;
  opacity: 0;
}
 
ul.img-list li:hover span.text-content-img {
  opacity: 1;
}

span.text-content-img {
  background: #fdb514;
  color: white;
  cursor: pointer;
  display: table;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

