h2 {
 text-align: center;   
}

p{
 text-align: center;   
}

.section-main p {

     max-width: 90%;
    text-align: center;
    margin: 0 auto;
}

.banner p{
max-width: 90%;
    text-align: center;
    margin: 0 auto; 
padding-bottom: 2rem;
}

.banner h1 {
   padding-top: 2rem; 
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.section-main {
    margin-bottom: -2rem; 
    h2{
        padding-top: 2rem; 
    }
    p{
        padding-bottom: 4rem; 
    }
}

@mixin cover-width{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.block-1 {
background: url("/img/homepage/1.jpg")  no-repeat center center fixed;
    @include cover-width;
}

.block-2 {
background: url("/img/homepage/2.jpg")  no-repeat center center fixed;
    @include cover-width;

}

.block-3 {
background: url("/img/homepage/3.jpg")  no-repeat center center fixed;
    @include cover-width;

}

.block-4 {
background: url("/img/homepage/4.jpg")  no-repeat center center fixed;
     @include cover-width;
}

.block-5 {
background: url("/img/homepage/5.jpg")  no-repeat center center fixed;
  @include cover-width;
}
    
@media only screen and (min-width: 46em) {

.section-main p{
 max-width: 80%;
 text-align: center;
 margin: 0 auto;
}
    
.section-main h2{
padding-top: 4rem; 
}

.section-main p {
 padding-bottom: 6rem;   
}

.banner p{
max-width: 80%;
text-align: center;
margin: 0 auto; 
padding-bottom: 2rem;
}

}

@media only screen and (min-width: 60em) {

.section-main p{
 max-width: 70%;
text-align: center;
margin: 0 auto;
}
    
.section-main h2{
padding-top: 6rem; 
}

.section-main p {
 padding-bottom: 8rem;   
}
    
.banner p{
max-width: 70%;
text-align: center;
margin: 0 auto; 
padding-bottom: 2rem;
}

    

}

@media only screen and (min-width: 70em) {

.section-main p{
     max-width: 50%;
    text-align: center;
    margin: 0 auto;
    }
    
.banner p{
max-width: 60%;
text-align: center;
margin: 0 auto; 
padding-bottom: 2rem;
}


}