h2 {
 text-align: center;   
}

p{
 text-align: center;   
}

.section {
 background-color: #ccc;
}

.section h2{
padding-top: 4rem; 
}

.section p {
 padding-bottom: 4rem;   
}

.section {
margin-bottom: -2rem;   
}

.block-1 {
background: url("/img/homepage/1.jpg")  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
}

.block-2 {
background: url("/img/homepage/2.jpg")  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
}

.block-3 {
background: url("/img/homepage/3.jpg")  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
}

.block-4 {
background: url("/img/homepage/4.jpg")  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
}

.block-5 {
background: url("/img/homepage/5.jpg")  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
}
    
 
}






   




