.container-project{
 padding: 0 2rem 2rem;  
}

.icon-community{
 margin:0;
 padding: 0;        
}

.sectors{
 padding: 0;
 margin: 0;
 width: 100%;    
}

.icon-reconstruction{
 @include icons($teal);
 color: $white; 
}

.icon-spaces{
 @include icons($yellow);
 color: $grey; 
}

.icon-community{
 @include icons($bleu);
 color: $white; 
}

.icon-education{
 @include icons($white);
 color: $grey; 
}

.sectors li{
 list-style-type: none;   
}

.sectors h4 { 
 padding-top: 1.5rem;    
}

.place{
 padding-top: 3rem;    
 text-align: center; 
    h4{
     padding-top: 2rem;   
    }
}

.sectors p{
 padding-left: 2rem;
 padding-bottom: 1.5rem; 
 font: 1.5rem;    
}


.container-project h5{
 padding-top: 1.5rem;   
}

@media only screen and (min-width: 60em){
 .container-project{
  padding-top: 1.5rem;   
 }
    
}

ul{
 padding: 0;   
}