.container-project{
 padding: 0 2rem 2rem;  
}

.icon-community{
 margin:0;
 padding: 0;        
}

.sectors{
 padding: 0;
 margin: 0;
 width: 100%;    
}

.icon-reconstruction{
 @include icons($teal);
 color: $white; 
}

.icon-spaces{
 @include icons($yellow);
 color: $grey; 
}

.icon-community{
 @include icons($bleu);
 color: $white; 
}

.icon-education{
 @include icons($white);
 color: $grey; 
}

.sectors li{
 list-style-type: none;   
}

.sectors h4 { 
 padding-top: 1.5rem;    
}

.place{
 padding-top: 3rem;    
 text-align: center; 
    h4{
     padding-top: 2rem;   
    }
}

.sectors p{
 padding-left: 2rem;
 padding-bottom: 1.5rem; 
 font: 1.5rem;    
}


.container-project h5{
 padding-top: 1.5rem;   
}

.ac-container .biloxi{
 @include about-us(url(../img/biloxi-model-homes/biloxi-model-banner.jpg));    
}

.ac-container .enel{
 @include about-us(url(../img/enel-cuore/enel-cuore-banner.jpg));    
}

.ac-container .football{
 @include about-us(url(../img/football-for-hope/football-for-hope-banner.jpg));    
}

.ac-container .haiti{
 @include about-us(url(../img/haiti-rebuilding/haiti-rebuild-banner.jpg));    
}

.ac-container .hearts{
 @include about-us(url(../img/happy-hearts/happy-hearts-banner.jpg));    
}

.ac-container .sandy{
 @include about-us(url(../img/hurricane-sandy/hurricane-sandy-banner.jpg));    
}

.ac-container .resilience{
 @include about-us(url(../img/national-resilience/national-resilience-banner.jpg));    
}

.ac-container .nike{
 @include about-us(url(../img/nike-gamechangers/national-resilience-banner.jpg));    
}

@media only screen and (min-width: 60em){
 .container-project{
  padding-top: 1.5rem;   
 }
    
}

ul{
 padding: 0;   
}