<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Push Menus</title>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body class="noscript">
  <div class="site-wrapper" data-state="slide-closed">
    <div class="sliding-canvas">
      <header class="header">
          <h1 class="h1-logo"><img class="logo" src="{{site.baseurl}}/img/logo-final.svg" alt="architecture for humanity"><span>architecture for humanity</span></h1> 
          <a class="toggle-btn" href="#"><i class="icon-open"></i><span>Menu</span></a>
          <h2 class="donate"><a href="{{site.baseurl}}/getinvolved">Donate</a></h2>
        <nav class="navigation slide-menu">
             <a class="close-btn" href="#"><i class="icon-close"></i><span>Menu</span></a>
          <ul>
              <li><a href="{{site.baseurl}}/ourteam">Our Team</a></li>
              <li><a href="{{site.baseurl}}/getinvolved">Get Involved</a></li>
              <li><a href="{{site.baseurl}}/projects">Projects</a></li>
              <li><a href="{{site.baseurl}}/blogandnews">Blog &amp; News</a></li>
          </ul>
        </nav>
      </header><!-- /header -->
        
        
        {{content}}
    
        
    <footer>
        <h2>Get Connected</h2>
            <ul>
                <li class="mega">
                  <a href="http://twitter.com">
                        <i class="icon-twitter"></i>
                            <span class="hide-text">Twitter</span>
                  </a>
                </li>
                <li class="mega">
                    <a href="http://facebook.com">
                        <i class="icon-facebook"></i>
                            <span class="hide-text">Facebook</span>
                    </a>
                
                </li>
                  <li class="mega">  
                    <a href="http://youtube.com">
                        <i class="icon-youtube-play"></i>
                            <span class="hide-text">Youtube</span>
                       </a>
                </li>
                <li class="mega">
                     <a href="http://linkedin.com">
                        <i class="icon-linkedin"></i>
                            <span class="hide-text">Linked-in</span>
                  </a>
                </li>
            </ul>
        <div class="contact-info">
            <p class="mega"><b>+1 415-963-3511</b></p>
            <p>info@architectureforhumanity.org<br>press@architectureforhumanity.org</br></p>
            <p><b>26 O'Farrell St. Suite 310, San Francisco,CA 94108</b></p>
        </div>    
        
        <div class="copywrite">
         <p class="micro"> ©1999-2014 Architecture for Humanity all rights reserved</p>
        </div>
    </footer>

        
    </div>        
 </div>
  <!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/push-menu.js" type="text/javascript"></script>
</body>
</html>